/* screen ot 340px or less */
@media only screen and (max-width:340px){

    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand,
    .site-main .contact-area .contact .contact-title h4,
    .site-main .contact-area .contact .para-contact,
    .site-main .skills-area,
    .site-main .contact-area .contact
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h3{
        font-size: 40px;
    }

    .site-main .contact-area .contact form .input-textbox input{
        width: 18rem!important;
        margin:auto;
    }

    .site-main .skills-area .skills-list .skills{
        width: 13rem;
        padding: 0;
    }
    .site-main .about-area h2.about-title>span{
        font-size: 18px;
    }

    .project{
        padding: 0!important;
    }

    .skills-area .container{
      padding: 0!important;
    }


}

@media only screen and (max-width:792px){

    .site-main .about-area h2 span{
        font-size: 31px;
        letter-spacing: 10px;
    }
    .site-main .contact-area .contact form .input-textbox input{
        width:20rem;
        margin:5%;
    }

    .site-main .project-area .project {
        margin: 4%;
    }

}
@media only screen and (max-width:1910px){
    .header-area .main-menu .navbar{
        padding:1rem;
    }
    .container {
        width: 90%;
    }

    .site-main .about-area{
        padding: 3% 4%;
    }
}