/* imports font from fonts.css file*/
@import url(./fonts.css);

/* import variables from variables.css file*/
@import url(./partials/variables.css);

/*import global rules */    
@import url(./partials/_global.css);

/* Start navigation */

/*.header-area{
    position: fixed;
    background-color: white;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: blue;
 

} */

.header-area .main-menu .navbar .navbar-brand {
    padding: 0 25rem 0 5rem;
}

.header-area .main-menu .navbar {
padding: 1rem 10em 1rem 10rem;
}

.header-area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--urbanist);
    text-transform: uppercase;
    padding: 1.7em;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active{ /*set color in active nav-link*/
    color:var(--primary-color);
}

.header-area .main-menu .navbar-nav a:hover{ /*set color in hover nav link*/
    color:var(--primary-color);
}




/* End navigation */

/*Start Banner Area */

.site-banner {
    padding-bottom:5rem;

}

.site-banner .title-text-name .txt-rotate{
    color:var(--primary-color);
}
.site-main .site-banner .site-title h3
{
    padding-top: 25%;
    margin-left: 20%;
    font-weight: 500;
}
.site-main .site-banner .site-title h1
{
    font-size: 2.5rem;
    margin-left: 20%;
}

/*End Babber Area*/

/*Start About Area*/



.site-main .about-area .about-img img {
    border-radius: 300%;
    width: 450px;
    
}


.site-main .about-area
{
    padding: 8rem 5rem;
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: black;
}

.site-main .about-area h2.about-title>span {
    font-family: var(--urbanist);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.5rem;
    color: var(--title-color);
    background-color: white;
}

.site-main .about-area .para {
    font-family: var(--urbanist);
    font-style: italic;
    color: white;

}


.site-main .about-area .about-img {
    
    text-align: center;

}
/*End About Area*/
/*Start Skills Area*/

.site-main .skills-area .skills-img img{
    width:70px;
}

.site-main .skills-area{
    padding: 7rem 2rem;
}

.site-main .skills-area .skills-list .skills .card-title-text {
    text-transform: uppercase;
    font: normal 500 18px/18px var(--urbanist);
}

.site-main .skills-area .skills-title h1 {
    font-size: 35px;
    text-transform: uppercase;
}

.site-main .skills-area .skills {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    height: 300px;
    transition: box-shadow .7s ease;
}

.site-main .skills-area .skills:hover {
    box-shadow: var(--box-shadow);
}

.guage {
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: default;
  }
  
  .guage.cpp {
    color: var(--primary-color);
    background: conic-gradient(var(--primary-color) 0% 60%, lightgray 20% 100%);
  }
  
  .guage.html {
    color: var(--primary-color);
    background: conic-gradient(var(--primary-color) 0% 50%, lightgray 20% 100%);
  }
  
  .guage.css {
    color: var(--primary-color);
    background: conic-gradient(var(--primary-color) 0% 50%, lightgray 20% 100%);
  }
  .guage.fs {
    color: var(--primary-color);
    background: conic-gradient(var(--primary-color) 0% 0%, lightgray 20% 100%);
  }
  
  .guage-inner {
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: lightgray;

  }
  .site-main .skills-area .skills-list .guage-inner span{
      font-size: 10px;
      
  }

  .site-main .skills-area .skills-list .guage-inner{
      justify-content: center;
  }

/* End Skills Area*/

/*Start Projects Area*/
.site-main .projects-area h1.projects-title {
   font: normal 600 35px var(--urbanist);
   text-transform: uppercase; 
}

.site-main .projects-area .project-img img{
height: 100px;
}


.site-main .projects-area .project {
    background-color: #E7EFF1;
    padding: 5rem;
    transition: box-shadow .7s ease;
}
.site-main .projects-area .project:hover{
    box-shadow: var(--box-shadow);
}

/* Contact Area*/

.site-main .contact-area{
    background-color: var(--primary-color);
    border-radius: 50px 50px 0 0;
}
.site-main .contact-area .contact{
    padding: 10rem 0 5rem 0;
    margin: 3rem auto 0 auto;
}

.site-main .contact-area .contact .contact-title h4{
  font: normal 700 30px/30px var(--urbanist);
  color: whitesmoke;
}

.site-main .contact-area .contact .para-contact{
    color: white;
    padding: 1rem 4rem;
}


.site-main .contact-area .contact form .input-textbox input {
    width: 400px;
    padding: 0.75rem 1rem;
    border: 1px solid whitesmoke;
    color:black;
    font: normal 500 17px var(--urbanist);
}

.site-main .contact-area .contact form .btn-submit button {
    background: whitesmoke;
    color: black;
    padding: .7rem 2rem;
}

.footer-area {
    background-color: var(--primary-color);
}

footer.footer-area {
    padding: 1rem 0;
}

footer .social .text-or{
    font:italic 500 18px/18px var(--urbanist);
    color:whitesmoke;
}

footer .social .follow-text {
    font: normal 600 20px/20px var(--urbanist);
    text-transform: uppercase;
    color: whitesmoke;
}

footer .social a i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer .social a i:hover 
{
    color: white;
}